

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 50px 0;

}
.address-img p{
    font-size: 1.3em;
    padding: 10px 0;
}
.address-img img{
    height: 30px;
    
}
.footer-links{
    display: flex;
    justify-content: space-between;

}

.f-link-1{
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}

.f-link-1 a{
    font-size: 1.3em;
    color:var(--blue-intense);
    padding:10px 0A;
}